
.img_in_birth_day{
    width: 90vw;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body.birth_day_box{
    /* align-items: center; */
    background-image: url(../Image/pexels-padrinan-255379.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
form{
    /* display:inline; */
    
}
div{
    text-align: center;
    background-color: #19191998;
    width: 60vw;
    border-radius: 5px;
    margin-left: 10px;
}
textarea{
    width: 86%;
    height: 35vh;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #00ffee;
    background-color: transparent;
    color: aqua;
    font-weight: bold;
}

.btn{
    display:inline-block;   
    padding: 0.5rem 1rem;
    background: #00ffee;
    box-shadow: 0 0 25px #00ffee;
    border-radius: 4rem;
    font-size: 0.9rem;
    color: #000000;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 5px;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #00ffee;
}
h1,h3,h4{
    letter-spacing: 1px;
}
h1{
    font-size: 2rem;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}